.card {
  background-color: #fbf8f8;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1.5rem 0;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0;
  align-self: center;
}


@media (max-width: 320px) {
  .card {
    padding: 1rem 0 0.5rem 0;
  }
}

@media (min-width: 320px) {
  .card {    
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding: 1rem;
    margin: 1rem 0 2rem;
    width: 600px;
    min-height: 491px;
  }

   h2 {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    margin: 0 0.2rem;
    align-self: start;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 546px;
  }
}
