.up-button {
  display: none
}

@media (min-width: 768px) {
  .up-button {
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.7rem 1rem;
    margin: 0.5rem;
    border: 1px solid #fff7f7;
    border-radius: 12px;
    background-color: #fff7f7;;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 0%;
    bottom: 10.5rem;
    transition: 0.2s all ease-in-out;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .up-button:hover {
    border: 1px solid black;
  }
}
