.seasons {
  display: grid;
  margin: 0 auto;
}

.error {
  display: block;
  width: 50%;
  text-align: center;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: rgb(219, 10, 10);
  text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 1.8rem;
  background-color: #f5f3f3;
  opacity: 0.8;
  border-radius: 6px;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .up-button--seasons {
    display: block;
    right: 0;
  }
}

@media (min-width: 1280px) {
  .up-button--seasons { 
    right: 1.5%;
  }
}
