.header {
  display: grid;
  justify-content: center;
  height: 10rem;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  background-color: #a21800;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.logo {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo img {
  background-color: white;
  border-radius: 35px;
  margin-right: 1rem;
  border: 1px solid;
  color: black;
}

.logo span {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  margin-left: 1rem;
  margin-right: 0;
}

.nav ul {
  height: 100%;
  display: flex;
  margin-left: 1rem;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
  }

  .logo {
    font-size: 2rem;
  }

  .logo span {
    margin-left: 1rem;
    margin-right: 4rem;
  }

  .nav ul {
    margin-left: 0;
  }

  .nav li {
    margin-left: 2.5rem;
    font-size: 1.25rem;
  }
}

.header a {
  color: white;
}

.header h1 {
  display: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(41, 15, 15);
}
