.driver {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 80vw;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fbf8f8;
}

@media (max-width: 768px) {
  .driver {
    flex-direction: column;
  }
}

h2 {
  padding: 1rem 0;
  font-size: 1.1rem;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  h2 {
    margin: 1rem 1rem;
  }
}

