.wrapper {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  grid-column: 1 / 3;
  min-height: 2rem;
}

.wrapper img { 
  min-height: 3rem;
}


@media (min-width: 768px) {
  .wrapper {
    margin-left: 0;
  }
}

