.names {
  display: none;
}

@media (min-width: 768px) {
  .names {
    display: grid;
    grid-template-columns: 40px 70px repeat(2, 1fr) 120px 40px;
    padding: 0 0.6rem;
    margin: 0.7rem auto 1.5rem;
    justify-items: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff7f7;
    opacity: 0.85;
    border-radius: 2px;
    width: 600px;
  }

  .names p {
    padding: 0;
  }
}
