.wrapper {
  display: grid;
  min-width: 80vw;
  grid-template-columns: 7rem auto;
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.info {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  padding: 0.5rem;
  border: 1px solid #fff7f7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff7f7;
  color: black;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
}

.info-winner {
  border-color: #a21800;
  font-weight: bold;
}

.wrapper h2 {
  color: #a21800;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    margin: 0;
    min-width: unset;
  }
  
  .info {
    padding: 0;
    width: 35px;
    height: 35px;
    align-self: center;
  }

  .info-winner {
    border: none;
    box-shadow: none;
  }

  .wrapper h2 { 
    display: none;
  }
}
