.wrapper {
  display: grid;
  min-width: 80vw;
  grid-template-columns: 7rem auto;
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
}

.info {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  border: 1px solid #fff7f7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff7f7;
  color: black;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    margin: 0 auto;
    min-width: unset;
  }

  .info {
    padding: 0.3rem 0.4rem;
    font-size: 1rem;
    box-shadow: none;
  }

  .wrapper h2 { 
    display: none;
  }
}
