.card {
  background-color: #fbf8f8;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 0;
}

h2 {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0;
  align-self: center;
}


@media (max-width: 320px) {
  .card {
    padding: 1rem 0 0.5rem 0;
  }
}

@media (min-width: 320px) {
  .card {    
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: 50px 50px repeat(2, 1fr) 100px 55px;
    padding: 0.6rem;
    margin: 0.7rem 0 0.5rem;
    align-items:  stretch;
    min-height: 75px;
    width: 600px;
  }

   h2 {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    margin: 0 0.2rem;
  }
}

.card-winner {
  border: 1px solid;
  border-color: #a21800;
}